
/*---------- Үндсэн layout-ийн тохиргооны хувьсагчид ------------*/
$mainBackground:#FFF;
$mainBlue:#dd50c6;

$mainText: #233;

/* ---------- tabmenu -ийн тохиргооны хувьсагчид ------------*/
$tabmenu-bg-color: #786ff7f1;
$tabmenu-disabed-text-color:#cfc6c2;
$tabmenu-enabled-text-color:#464240;
$tabmenu-line-color:#bebcbb;
$tabmenu-heigth: 25px;
$tab-bg-color: #f8f2f2;


/* ---------- toolbar -ийн тохиргооны хувьсагчид ------------*/
$toolbar-height: 95px;
